body{
			background-color: red;
		}
		.cronometro{
			border:1px solid black;
			
			width: 500px;
			height: 200px;
			color: #FF8000;
			size: 20px;
			

		}
	
		#conteudo{
			border: 1px solid black;
			width:600px;
			height: 500px;
			margin: 700px;
		}
		h1{

		}

